
.footer {
  background-color: #1f1f1f;
  color: #f1f1f1;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}
.about-site {
  padding-bottom: 0;
}

footer h2 {
  color:rgb(236, 243, 139);
}
footer h5{
  color:rgb(224, 132, 152);
}


.social-media-icons li {
  display: inline-block;
}

footer ul {
  list-style-type: none;
  padding: 0;
  
}

.copyright {
  border-top: 1px solid #fff;
  padding: 0 50%;
}